.col-sm-8 .well {
  overflow:auto; 
}

#text.shiny-text-output{
  float: left;
  height: 100%;
}

#guess1 {
  font-weight: bold;
}

#guesslist {
  margin-left:10px;
  padding-left:0;
  float:left;
  list-style: none;
  color:#999999;
}

#guesslist li {
  font-style: italic;
}